{% extends "layout.html" %} {% block content %}
<div class="container">
  <h1 class="mt-5">About</h1>
  <div class="row">
    <p class="lead">
      This template was created with the
      <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package
      by <a href="http://github.com/audreyr/">Audrey Roy</a>.
    </p>
    <img
      src="https://helios-i.mashable.com/imagery/articles/00apgKgIAO4EnFfjOgCApRe/hero-image.fill.size_1248x702.v1619086604.jpg"
      alt="doge"
    />
  </div>
</div>
{% endblock %}
